@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-2px);
  }

  60% {
    transform: translateY(-1px);
  }
}

.next-page-button {
  opacity: 0;
  animation: fadeIn .75s 1.5s forwards;
  -webkit-animation: fadeIn .75s 1.5s forwards;
  -moz-animation: fadeIn .75s 1.5s forwards;
  -o-animation: fadeIn .75s 1.5s forwards;
  -ms-animation: fadeIn .75s 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.component-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-area {
  flex: 6;
  padding-right: 20px;
}


.text-area,
.text-area p {
  display: block;
  font-size: 0.9rem;
}

.image-area {
  flex: 4;
}

.image-area img {
  max-width: 100%;
  height: auto;
}

.image-area img.small-width {
  max-width: 92.5%;
  height: auto;
}

.image-area img#kratosLogo {
  scale: 1.075;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateY(-50px);
}

.image-area img#humboldtHillLogo {
  scale: 1.125;
  padding-left: 25px;
  padding-right: 10px;
  transform: translateY(-25px);
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.text-area a.Home:hover {
  opacity: 0.75;
  scale: 1.05;
}

.text-area a.Home {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.text-area a.Home::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #12a0fa, #662ea3);
  z-index: -1;
}

.text-area a.tellU {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.text-area a.tellU:hover {
  opacity: 0.75;
  scale: 1.05;
}

.text-area a.tellU::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #61dbfb, #c3f3ff);
  z-index: -1;
}

.text-area a.HumboldtHill {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.text-area a.HumboldtHill:hover {
  opacity: 0.75;
  scale: 1.05;
}

.text-area a.HumboldtHill::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #4b590e, #98a120);
  z-index: -1;
}

.iframe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  transform: translateZ(0px);
  border: 5px solid transparent !important;
}

.iframe-wrapper#kratos-page-iframe-wrapper {
  overflow: visible;
}

.iframe-wrapper#humboldt-hill-page-iframe-wrapper {
  overflow: visible;
}


.text-area a.CPHHA {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.text-area a.CPHHA:hover {
  opacity: 0.75;
  scale: 1.05;
}

.text-area a.CPHHA::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #255e11, #a6cb91);
  z-index: -1;
}

a:visited::after,
a:hover::after,
a:active::after {
  content: none;
}

.p-title {
  font-size: 1.05rem;
}

ul li.task-list {
  font-size: 0.85rem;
  line-height: 1.05rem;
}

.stack-logos {
  height: 50px;
}

.stack-logos ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stack-logos img {
  max-height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 5px;
}

.stack-logos li img {
  transition: transform 0.3s ease-in-out;
}

.stack-logos li img:hover {
  opacity: 0.9;
  transform: translateY(-5px);
}

.next-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  right: 0;
  padding-right: 15%;
}

.next-page-button#kratos-arrow-buttons-container {
  transform: translate(0%, -100%);
}

.next-page-button#tellu-arrow-buttons-container {
  transform: translate(0%, -125%);
}

.next-page-button#humboldt-hill-arrow-buttons-container {
  transform: translate(0%, -125%);
}

.next-page-button#cphha-arrow-buttons-container {
  transform: translate(0%, -100%);
}

.next-page-button button {
  background-color: #662ea3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 7.5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-left: 10px;
  margin-right: 10px;
}

.next-page-button button.home-arrow-buttons {
  background-color: #12a0fa;
}

.next-page-button button.home-arrow-buttons:hover {
  background-color: #662ea3;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2.5px);
}

.next-page-button button.kratos-arrow-buttons {
  background-color: #741333;
  transform: translateY(-25px);
}

.next-page-button button.kratos-arrow-buttons:hover {
  background-color: #291313;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-30px);
}

.next-page-button button.cphha-arrow-buttons {
  background-color: #255e11;
}

.next-page-button button.cphha-arrow-buttons:hover {
  background-color: #a6cb91;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2.5px);
}

.next-page-button button.tellu-arrow-buttons {
  background-color: #1cc9f4;
}

.next-page-button button.tellu-arrow-buttons:hover {
  background-color: #76dbf4;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2.5px);
}

.next-page-button button.humboldt-hill-arrow-buttons {
  background-color: #4b590e;
}

.next-page-button button.humboldt-hill-arrow-buttons:hover {
  background-color: #98a120;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2.5px);
}


@media (max-width: 1024px) {
  .next-page-button button {
    display: none;
  }

  .iframe-wrapper {
    display: block;
    justify-content: unset;
    align-items: unset;
    flex-direction: unset;
    overflow: visible;
    width: auto;
    height: auto;
    border-radius: 0;
    transform: none;
    border: none;
  }

  .iframe-wrapper#cphha-iframe {
    height: 45vh;
  }
}

@media (max-width: 767px) {

  .content-wrapper {
    flex-direction: column;
  }

  .text-area,
  .image-area {
    flex: none;
    width: calc(100% - 30px);
    /* padding-right: 0; */
    padding-bottom: 10%;
  }

  .image-area {
    text-align: center;
  }

  .image-area img {
    max-width: 85%;
    height: auto;
    margin: 0 auto;
  }

  .image-area img#kratosLogo {
    scale: 1.075;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(0px);
  }

  .image-area img#humboldtHillLogo {
    transform: translateY(0px);
  }
}