.main-body {
  margin: 0;
  padding: 0;
  min-width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 0.5vh;
  justify-content: flex-start;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-snap-type: x mandatory;
  height: 100%;
}

.scroll-container>* {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15vh;
}

@media (max-width: 1000px) {
  .main-body {
    padding-top: 7.5vh;
    justify-content: flex-start;
  }

  .scroll-container>* {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .main-body {
    padding-left: 1%;
    padding-right: 1%;
    justify-content: flex-start;
  }
  .scroll-container {
    overflow-y: auto;
  }
}

@media (max-height: 450px) {
  .main-body {
    /* padding-top: 15vh; */
  }
}

/* @media (max-width: 767px) {
  .scroll-container {
    flex-direction: column;
  }
} */

.c {
  color: rgb(116, 19, 51);
}