.main-body {
  margin: 0;
  padding: 0;
  min-width: 250px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  height: auto;
  padding-top: 10vh;
  padding-bottom: 0.5vh;
  margin-bottom: 10vh;
  justify-content: flex-start;
  /* margin-bottom: 100px; */
}


.scroll-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-snap-type: x mandatory;
  height: 100%;
}

.scroll-container>* {
  flex: 0 0 100%;
  scroll-snap-align: start;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15vh;
}

.scroll-container>#homePage {
  position: relative;
  padding-bottom: 10%;
}

.scroll-container>#homePage::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #12a0fa, #662ea3);
}

.scroll-container>#kratosPage {
  position: relative;
}

.scroll-container>#kratosPage::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #741333, #291313);
}

.scroll-container>#telluPage {
  position: relative;
}

.scroll-container>#telluPage::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #61dbfb, #c3f3ff);
}

.scroll-container>#cphhaPage {
  position: relative;
}

.scroll-container>#cphhaPage::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, #255e11, #a6cb91);
}

.scroll-container>*:last-child {
  border-bottom: none;
}


@media (max-width: 1024px) {
  .main-body {
    padding-top: 7.5vh;
    justify-content: flex-start;
  }

  .scroll-container>* {
    /* padding-top: 0; */
  }
}

@media (max-width: 768px),
(max-width: 1024px) and (orientation: landscape) {
  .scroll-container {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
  }

  .scroll-container>* {
    flex: none;
    scroll-snap-align: unset;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

@media (max-width: 768px),
(max-width: 1024px) and (orientation: landscape) {
  .main-body {
    padding-left: 2.5%;
    padding-right: 2.5%;
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }
}